*.html
*.tcl
*.gise
*.xwbt
*.ncd
*.tspec
*.tim
*.err
*.stx
*.xml
*.log
*.gyd
*.xrpt
*.ngr
*.lso
*.bld
*.cmd_log
*.chk
*.mfd
*.vm6
*.prj
*.syr
*.xst
*.csv
*.jed
_ngo
xlnx_auto_0_xdb
*.cxt
*.pad
*.rpt
*.pnx
*.nga
*.xrpt
*.ngc
*.ngd
*.exe
*.cmd
*.xmsgs
*.ini
*.wdb
isim
xst
_xmsgs
planAhead_run_2
templates
iseconfig
top_html
